.lpPaintFaq-container {
  /* border: solid red; */
  padding: 50px;
  background-color: var(--customBg1);
  margin-top: 30px;
}
.lpPaintFaq-container > h2 {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.lpPaintFaq-wrapper {
  /* border: solid blue; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.lpPaintFaq-content {
  /* border: solid green; */
  width: 50%;
  height: 100%;
  padding: 20px;
}
.lpPaintFaq-content > h2 {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.lpPaintFaq-content > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lpPaintFaq-content:nth-child(2) {
  background-color: var(--lpCustom3);
  height: 100%;
  padding: 50px;
}
.accordion-button:not(.collapsed) {
  background-color: var(--customBg) !important;
  color: black;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.lpPaintFaq-accItem {
  border-bottom: 1px solid rgb(203, 203, 203);
  margin: 10px;
}
.lpPaintFaq-accHeader {
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .lpPaintFaq-container > h2 {
    font-size: 30px;
  }
  .lpPaintFaq-container {
    /* border: solid red; */
    padding: 10px;
  }
  .lpPaintFaq-wrapper {
    /* border: solid blue; */
    flex-direction: column-reverse;
    padding: 10px;
  }
  .lpPaintFaq-content {
    /* border: solid green; */
    width: 100%;
    padding: 10px;
  }
  .lpPaintFaq-content > img {
    display: none;
  }
  .lpPaintFaq-content:nth-child(2) {
    background-color: #86a5a8;
    height: 700px;
    display: none;
  }
}
