.loader-wrapper {
  position: fixed;
  inset: 0;
  background: var(--lpCustom4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.loader-wrapper > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  animation: liner 1000ms infinite ease alternate;
}
@keyframes liner {
  100% {
    transform:translateY(100px)
  }
}
