.testimonial-container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--lpCustom2);
}
.testimonial-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-content {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  /* border: solid red; */
}
.homeTestimonial-wrapper {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-content:nth-child(1) {
  border-radius: 12px 12px 0 0;
  background-color: #000000cc;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.testimonial-content:nth-child(2) {
  background: var(--lpCustom2);
  border-radius: 0 0 12px 12px;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  overflow-y: auto;
  width: fit-content;
}

.testimonial-vidWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

.testimonial-vidWrapper > iframe {
  width: 100%;
  height: 480px;
  border: none;
}

.testimonial-icons {
  /* border: solid green; */
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  overflow-y: scroll;
  flex-direction: column;
  width: fit-content;
  height: 480px;
}

.testimonial-item {
  /* border: solid yellowgreen; */
  width: 100px;
  height: 100px;
  background-color:white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.testimonial-item.active {
  transform: scale(1.1);
  background: white;
  box-shadow: 0 0 10px rgb(133, 133, 133);
}

.testimonial-item:hover {
  transform: scale(1.05);
}

.testimonial-icon {
  color: red;
  font-size: 40px;
  transition: color 0.3s;
}

/* .testimonial-item.active .testimonial-icon {
  color: #222;
} */

.testimonial-item p {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.testimonial-item.active p {
  color: #222;
}
.testimonial-heading > h2 {
  font-size: 40px;
  text-align: center;
}
.testimonial-heading > p {
  width: 70%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .testimonial-vidWrapper > iframe {
    height: 250px;
  }
  .testimonial-content:nth-child(1) {
  padding: 10px;
}
  .testimonial-icons {
    justify-content: flex-start;
    gap: 15px;
  }
  .testimonial-item {
    min-width: 72px;
    height: 72px;
  }
  .testimonial-icon {
    font-size: 30px;
  }
  .testimonial-item p {
    font-size: 12px;
  }
  .testimonial-container > h2 {
    font-size: 30px;
  }
  .homeTestimonial-wrapper {
    /* border: solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .testimonial-icons {
    overflow-x: scroll;
    flex-direction: row;
    width: 350px;
    height: fit-content;
  }
  .testimonial-content:nth-child(2) {
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
