.testimonial-container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
background-color: var(--lpCustom2);
}
.testimonial-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-content {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  /* border: solid red; */
}

.testimonial-content:nth-child(1) {
  border-radius: 12px 12px 0 0;
  background-color: #000000cc;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.testimonial-content:nth-child(2) {
  background: var(--lpCustom2);
  border-radius: 0 0 12px 12px;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  overflow-x: auto;
}

.testimonial-vidWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

.testimonial-vidWrapper > iframe {
  width: 100%;
  height: 480px;
  border: none;
}

.testimonial-icons {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  overflow-x: scroll;
}

.testimonial-item {
  min-width: 120px;
  height: 120px;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.testimonial-item.active {
  border-color: var(--lpCustom1);
  transform: scale(1.1);
  background: linear-gradient(135deg, var(--lpCustom4), var(--lpCustom4));
  color: #222;
}

.testimonial-item:hover {
  background-color: var(--lpCustom4);
  transform: scale(1.05);
}

.testimonial-icon {
  color: white;
  font-size: 40px;
  transition: color 0.3s;
}

.testimonial-item.active .testimonial-icon {
  color: #222;
}

.testimonial-item p {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.testimonial-item.active p {
  color: #222;
}
.testimonial-heading > h2 {
  font-size: 40px;
  text-align: center;
}
.testimonial-heading > p {
  width: 70%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .testimonial-vidWrapper > iframe {
    height: 250px;
  }
  .testimonial-icons {
    justify-content: flex-start;
    gap: 15px;
  }
  .testimonial-item {
    min-width: 100px;
    height: 100px;
  }
  .testimonial-icon {
    font-size: 30px;
  }
  .testimonial-item p {
    font-size: 12px;
  }
  .testimonial-container > h2 {
    font-size: 30px;
  }
}
