.calculator-container {
  max-width: 440px;
  padding: 35px;
  border-radius: 18px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.55);
}
.calculator-container {
  background-color: #1c1c1c; /* fallback */
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
/* HEADINGS */
.calculator-container h3 {
  margin: 22px 0 12px;
  font-size: 18px;
  font-weight: 600;
}

/* RADIO GROUP */
.radio-group {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

/* HIDE DEFAULT RADIO */
.radio-group input[type="radio"] {
  display: block;
  margin-right: 10px;
}

/* RADIO LABEL */
.radio-group label {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.08);
}

/* RADIO TEXT */
.radio-group label span {
  white-space: nowrap;
}

/* HOVER */
.radio-group label:hover {
  background: rgba(255, 255, 255, 0.18);
}

/* CHECKED STATE */
.radio-group input[type="radio"]:checked + span {
  color: #000;
  background: linear-gradient(135deg, #fbbc04, #ff9800);
  padding: 6px 14px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(251, 188, 4, 0.6);
}

/* INPUT */
.calculator-container input[type="number"] {
  width: 100%;
  margin-top: 14px;
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.calculator-container input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

/* BUTTON */
.calculator-container  button {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background: linear-gradient(135deg, #fbbc04, #ff9800);
  color: #000;
  box-shadow: 0 14px 40px rgba(251, 188, 4, 0.45);
  transition: all 0.3s ease;
}

.calculator-container button:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 50px rgba(251, 188, 4, 0.65);
}

.calculator-container button:active {
  transform: scale(0.97);
}

/* RESULT */
.result {
  margin-top: 25px;
  padding: 16px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.35);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffd369;
  animation: fadeUp 0.4s ease;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
