.serviceHow-container {
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lpCustom2);
}
.serviceHow-content {
  width: 47%;
  /* border: solid green; */
  padding: 20px;
}
.serviceHow-content > h2 {
  margin-bottom: 30px;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
.serviceHow-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serviceHow-content > ul {
  width: 95%;
  /* border: solid blue; */
}
.serviceHow-content > ul > li {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  /* border: solid yellow; */
  border-bottom: 2px dotted;
}
/* .serviceHow-item {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.serviceHow-item > h3 {
  color: red;
  font-size: 30px;
}
.serviceHow-itemContent > h4 {
  font-weight: bold;
}
@media screen and (max-width:768px) {
    .serviceHow-container {
  /* border: solid red; */
flex-direction: column;
}
.serviceHow-content {
  width: 100%;
  /* border: solid green; */
  padding: 20px;
}
.serviceHow-content > ul {
  width: 100%;
  margin: 0;padding: 0;
  /* border: solid blue; */
}
}