@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lpCustom1: #423d73; /* Primary button color & icon background */

  --lpCustom2: #f3f2f8; /* Light background for alternate components (soft indigo tint) */

  --lpCustom3: #2e2a55; /* Form headline & icon color (deep indigo for contrast) */

  --lpCustom4: #d8d6e8; /* Selective background (muted lavender highlight) */
}
