.homeWorkWith-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  background-color: var(--lpCustom2);
  gap: 30px;
}
.homeWorkWith-content:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeWorkWith-content:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.homeWorkWith-content > h2 {
  font-size: 40px;
  text-align: center;
}
.homeWorkWith-content > p {
  width: 70%;
  text-align: center;
}
.homeWorkWith-item {
  border-radius: 100%;
  overflow: hidden;
  width: 160px;
  height: 160px;
}
.homeWorkWith-item>img{
    width: 100%;
    height: 100%;object-fit: cover;
}
@media screen and (max-width: 768px) {
  .homeWorkWith-container {
    padding: 20px;
  }
  .homeWorkWith-content > h2 {
    font-size: 30px;
  }
  .homeWorkWith-content > p {
    width: 100%;
    text-align: justify;
  }
}
