.paintContact-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paintContact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid blue; */
  width: 80%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 20px rgb(141, 141, 141);
  padding: 30px;
}
.paintContact-content {
  /* border: solid green; */
  width: 50%;
  padding: 40px;
  border-radius: 20px;
}
.paintContact-content:nth-child(1) {
  background-color: var(--lpCustom2);
  padding: 50px;
}
.paintContact-content > ul {
  margin: 0;
  padding: 0;
}
.paintContact-content > ul > li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: solid red; */
  gap: 20px;
}
.paintContact-icon {
  /* border: solid; */
  font-size: 20px;
  padding: 5px;
  background-color: var(--lpCustom1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.paintContact-form {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}
.paintContact-form > h3 {
  margin-bottom: 30px;
  font-weight: lighter;
}
.paintContact-form input,
.paintContact-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 12px;
}
.paintContact-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* border: solid; */
  gap: 10px;
  margin-top: 10px;
}
.paintContact-checkbox > input {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}
.paintContact-checkbox > label {
  font-size: 12px;
}
.paintContact-form button {
  width: 100%;
  padding: 14px;
  background: var(--lpCustom1);
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .paintContact-wrapper {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .paintContact-content {
    /* border: solid green; */
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  .paintContact-content > ul > li {
    /* border: solid red; */
    gap: 20px;
    text-align: justify;
    margin-top: 30px;
  }
  .paintContact-content:nth-child(1) {
    background-color: #eef1f1;
    padding: 20px;
  }
  .paintContact-icon {
    /* border: solid; */
    font-size: 25px;
  }
}
